.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 83.3vh;
  width: 72.3vw;
  font-size: 3.2vw;
  overflow-y: auto;
}

.main h1 {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 100px;
}






